* {
    margin: 0;
    padding: 0;
}

header {
    height: 55vh;
    color: white;
    /* background-image: url(../image/bg.jpg); */
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    header {
        height: 40vh;
    }
}