{% extends 'base/base.html' %}

{% block title %}
    Add college
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/add-college.css' ) }}">
<div class="box-1">
    <div class="box-2">
        <h2>Add College</h2>
    <form action="/admin/addcollege" method="POST">

        <div class="box-inp">
            <label for="cc">College Code:</label>
            <input type="number" name="cc" id="cc" required>
        </div>

        <div class="box-inp">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
        </div>

        <div class="box-inp">
            <label for="mail">Email:</label>
            <input type="email" name="mail" id="mail" required>
        </div>

        <div class="box-inp">
            <label for="cn">Contact No:</label>
            <input type="number" name="cn" id="cn" required>
        </div>

        <div class="box-inp">
            <label for="addr">Address:</label>
            <textarea name="addr" id="addr" cols="52" rows="7"></textarea>
        </div>

        <div class="box-inp">
            <label for="uni">University:</label>
            <input type="text" name="uni" id="uni" required>
        </div>

        <div class="box-inp">
            <label for="web">Website:</label>
            <input type="url" name="web" id="web" required>
        </div>

        <div class="box-inp">
            <label for="pass">Password:</label>
            <input type="password" name="pass" id="pass" required>
        </div>

        <div class="box-btn">
            <button class="sub" type="submit"><span>Add</span></button>
        </div>
    </form>
    </div>
    <div style="height: 30%;"></div>
</div>
{% endblock %}