<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
<link rel="shortcut icon" href="{{ url_for('static',filename='image/logo1.svg' ) }}" type="image/x-icon">
</head>
<body>
    {% include 'sidebar.html'   %}
    <header>
        {% include 'navbar.html'   %}
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>