{% extends 'base/base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<main>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/forgot-password.css' ) }}">
    <div class="box-1">
        <div class="box-2">
            <h2>Forgot Password</h2>
            <form action="/forgot-password" method="POST">
                <div class="box-inp">
                    <label for="role">Select Role</label>
                    <input type="radio" name="role" >
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}