{% extends 'base/base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<main>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/forgot-password.css' ) }}">
    <div class="box-1">
        <div class="box-2">
            <h2>Forgot Password</h2>
            <form action="/forgot-password" method="POST">
                {% if show_otp %}
                <input type="hidden" name="action" value="verify-otp">
                {% else %}
                <input type="hidden" name="action" value="send-otp">
                {% endif %}
                <div class="box-inp">
                    <label for="role">Select Role</label>
                    <select name="role" id="role" required  {% if show_otp %}disabled{% endif %}>
                        <option disabled selected>Select Your Role</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                        <option value="college">College</option>
                    </select>
                </div>
                <div class="box-inp">
                    <label for="mail">E-mail</label>
                    <input type="email" id="mail" name="mail" value="{{ request.form.get('mail', '') }}" {% if show_otp %}readonly{% endif %} required>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for msg in messages %}
                <div class="msgdiv">
                    <h4 style="text-align: left;">{{msg}}</h4>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="box-btn" style="justify-content: left;">
                    <button class="send-otp" type="submit"><span>Send OTP</span></button>
                </div>
                <!-- <div class="box-inp otpdiv" style="display: none; margin-top:18px;"> -->
                <div class="box-inp otpdiv" {% if not show_otp %} style="display:none; margin-top:18px;" {% endif %}>
                    <label for="otp">OTP</label>
                    <input type="number" id="otp" name="otp" required>
                </div>
                <!-- <div class="box-btn lastbtn-box" style="display: none;"> -->
                <div class="box-btn lastbtn-box" {% if not show_otp %} style="display:none;" {% endif %}>
                    <button class="sub" type="submit"><span>Next</span></button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}