<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css' ) }}">
<script src="{{ url_for('static',filename='script/sidebar.js' ) }}"></script>
<div class="sidebar">
    <div class="box-t">
        <img class="cancel" src="{{ url_for('static',filename='image/cancel.svg' ) }}" alt="">
        <h3>Faculty Feedback Form</h3>
    </div>
    <div class="pages">
        <ul class="links">
            <li><a class="outera" href="{{ url_for('home' ) }}">Home
                </a></li>
            <li class="expli">
                <div class="exp">
                    <div class="outer" style="display: flex; flex-direction: row;">
                        <h3>
                            Student
                        </h3>
                        <img src="{{ url_for('static',filename='image/caret.svg' ) }}" alt="">
                    </div>
                    <div class="stdlinks">
                        <ul>
                            <li><a href="/student/home">Home - Student</a></li>
                            <li><a href="/student/givefeedback">Give Feedback</a></li>
                            <li><a href="/student/register">Register</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="expli">
                <div class="exp">
                    <div class="outer" style="display: flex; flex-direction: row;">
                        <h3>
                            Faculty
                        </h3>
                        <img src="{{ url_for('static',filename='image/caret.svg' ) }}" alt="">
                    </div>
                    <div class="stdlinks">
                        <ul>
                            <li><a href="/faculty/home">Home - Faculty</a></li>
                            <!-- <li><a href="/student/givefeedback">Give Feedback</a></li> -->
                        </ul>
                    </div>
                </div>
            </li>
        </ul>


    </div>
</div>
<div class="blur">

</div>