<link rel="stylesheet" href="{{ url_for('static',filename='css/student.css' ) }}">
{% extends 'base.html' %}

{% block title %}
Student
{% endblock %}

{% block content %}
<!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
{% endwith %} -->
<main>
    <div class="info">
        <h2 class="t1">Student Information</h2>
        <div class="info-1">
            <h3>Enrollment No.: {{s1.en}}</h3>
            <h3>Name: {{s1.name}}</h3>
            <h3>Sem: {{s1.sem}}</h3>
            <h3>Div: {{s1.div}}</h3>
        </div>
    </div>
</main>
{% endblock %}