{% extends 'base.html' %}
{% block title %}
Student - Register
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/student-register.css' ) }}">
<div class="box-1">
    <div class="box-2">
        <h2>Register</h2>
    <form action="/student/register">
        <div class="box-inp">
            <label for="en">Enrollment No:</label>
            <input type="number" name="en" id="en">
        </div>
        <div class="box-inp">
            <label for="mail">Gmail:</label>
            <input type="email" name="mail" id="mail">
        </div>
        <div class="box-inp">
            <label for="sem">Sem:</label>
            <input type="number" name="sem" id="sem">
        </div>
        <div class="box-inp">
            <label for="div">Div:</label>
            <select name="div" id="div">
                <option value="" disabled selected>Select Your Division</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>
    </form>

    </div>
</div>
{% endblock %}