{% extends 'base.html' %}

{% block title %}
OTP
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/student-register.css' ) }}">
<div class="box-1">
    <div class="box-2">
        <h2>OTP</h2>
    <form action="" method="POST">
        <div class="box-inp">
            <input type="number" name="otp" id="otp" required placeholder="OTP">
        </div>
        <div class="msgdiv">
            <h4 style="text-align: left;">{{msg}}</h4>
        </div>
        <div class="box-btn">
            <button class="sub" type="submit"><span>Register</span></button>
        </div>
    </form>

    </div>
</div>
{% endblock %}